body {
    margin: 0;
    padding: 0;
    overflow: auto;
    background: url("../media/golf-course-bg-image.jpg") no-repeat center;
    background-size: auto;
    background-position: 0 -150px;
    font-family: 'Cormorant Garamond', serif;
}

.main-container{
    /*display: flex;*/
    justify-content: center;
    align-items: center;
    padding: 50px;
}

.nav-bar {
    height: 70px;
}

.nav-container {
    width: 95%;
    height: 100%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-logo {
    width: 125px;
    height: 125px;
    background-color: #ffffff;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    background: url("../media/golf-ball-pattern-2.jpg") no-repeat center top;
    background-size: cover;
    border: solid 1px #bbbbbb;
    /*box-shadow: 0 3px 6px rgba(0, 0, 0, 0.5);*/
    z-index: 2;
}

.logo {
    width: 60px;
    height: auto;
    padding: 0 0 20px 0;
}

/*.nav-menu {*/
    /*width: 60px;*/
    /*height: 60px;*/
    /*background: url("../media/golf-ball-pattern.jpg") no-repeat bottom right;*/
    /*background-size: cover;*/
    /*border-radius: 50%;*/
    /*border: solid 1px gray;*/
    /*color: #404040;*/
    /*font-size: 25px;*/
    /*display: flex;*/
    /*justify-content: center;*/
    /*align-items: center;*/
/*}*/

.score-card {
    width: 1000px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: auto;
}

.add-player-button {
    width: 90px;
    margin: 10px;
    background-color: #2e5db9;
    border: solid 2px #19339a;
    border-top: solid 2px #cae5ff;
    color: #cae5ff;
    padding: 7px 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    font-weight: bold;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.5);
    cursor: pointer;
}

.add-player-button span {
    text-shadow: 0 -2px 0 #19339a;
    font-size: 20px;
}

.back-button span {
    color: transparent;
}


.buttons {
    display: flex;
    justify-content: space-between;
    width: 850px;
}

.info {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border: 1px;
    padding: 30px;
    background-color: #ffd566;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.5);
    border-radius: 1px;
}

.holes {
    display: flex;
}

#holes-label {
    display: flex;
    justify-content: center;
    align-items: center;
}

.yardage {
    display: flex;
}

#yardage-label {
    display: flex;
    justify-content: center;
    align-items: center;
}

.par {
    display: flex;
}

#par-label {
    display: flex;
    justify-content: center;
    align-items: center;
}

.handicap {
    display: flex;
}

#handicap-label {
    display: flex;
    justify-content: center;
    align-items: center;
}

.player {
    display: flex;
    height: 35px;
}

.keep {
    display: flex;
    justify-content: center;
    align-items: center;
}

.remove-player-button {
    font-size: 12px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #ffb8a7;
    background-color: #ff2407;
    width: 22px;
    height: 22px;
    border-radius: 50%;
    border-top: solid 2px #ffb8a7;
    border-left: solid 2px #9a1107;
    border-right: solid 2px #9a1107;
    border-bottom: solid 2px #9a1107;
    margin: 1px 2px 1px -28px;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.5);
    cursor: pointer;
}

.remove-player-button i {
    text-shadow: 0 -1px 0 #9a1107;
}

.category {
    border-left: solid 2px #000000;
    border-top: solid 2px #000000;
    width: 90px;
    height: 35px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    padding: 0 5px;
    font-size: 18px;
}

.input-container {
    display: flex;
    justify-content: center;
    align-items: center;

}

.input {
    width: 33px;
    border-top: solid 2px #000000;
    border-left: solid 2px #000000;
    border-right: none;
    border-bottom: solid 2px #000000;
    background-color: #ffe48e;
    height: 33px;
    text-align: center;
}

.input:focus {
    outline: none;
}


.total {
    border-top: solid 2px #000000;
    border-left: solid 2px #000000;
    border-right: solid 2px #000000;
    width: 60px;
    height: 35px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.in-box {
    border-left: solid 2px #000000;
    border-top: solid 2px #000000;
    width: 45px;
    height: 35px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.out-box {
    border-left: solid 2px #000000;
    border-top: solid 2px #000000;
    width: 45px;
    height: 35px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.par-box {
    border-left: solid 2px #000000;
    border-top: solid 2px #000000;
    width: 35px;
    height: 35px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.hole-box {
    border-top: solid 2px #000000;
    border-left: solid 2px #000000;
    width: 35px;
    height: 35px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    font-size: 16px;
}

.yards-box {
    border-top: solid 2px #000000;
    border-left: solid 2px #000000;
    width: 35px;
    height: 35px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.hdcp-box {
    border-left: solid 2px #000000;
    border-top: solid 2px #000000;
    width: 35px;
    height: 35px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.last {
    border-bottom: solid 2px #000000;
}

.course-selection-container {
    height: 450px;
    width: 450px;
    margin: auto;
    background: url("../media/black-marble-texture.jpg") no-repeat center;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    text-align: left;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.5);
    border: ridge 10px #ffdf00;
    border-left: groove 10px gold;
    border-right: ridge 10px gold;
    border-bottom: ridge 10px gold;
}

.course-selection-container span {
    padding: 10px;
    color: gold;
    font-size: 150%;
}

.selector-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 5% 0;
}

.selector {
    width: 300px;
    height: 30px;
    background-color: rgba(255, 255, 255, 0.9);
    border: none;
    color: #404040;
    font-size: 100%;
    /*text-align: center;*/
}

.selector:focus {
    outline: none;
}

#course-select-container {
    padding: 10% 0 0 0;
}

#tee-type-select {
    width: 125px;
}

.button {
    margin: 10% 0;
    width: 70px;
    height: 70px;
    border-radius: 50%;
    background: url("../media/golf-ball-pattern-2.jpg") no-repeat center top;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    /*border: solid 1px gray;*/
    cursor: pointer;
}

.button span {
    color: #404040;
    font-weight: bold;
}

@media only screen and (max-width: 500px) {
    body {
        background-position: -230px -185px;
    }
    .nav-logo {
        width: 100px;
        height: 100px;
        background-color: #ffffff;
        border-radius: 50%;
        display: flex;
        justify-content: center;
        align-items: flex-end;
        background: url("../media/golf-ball-pattern.jpg") no-repeat bottom right;
        background-size: cover;
        border: solid 1px #bbbbbb;
        z-index: 2;
    }
    .logo {
        width: 50px;
        height: auto;
        padding: 0 0 20px 0;
    }
    .main-container{
        padding: 110px 0 0 0;
    }
    .course-selection-container {
        width: 300px;
        height: 300px;
        background-size: cover;
    }
    .course-selection-container span {
        font-size: 125%;
    }
    .selector-container {
        margin: 3% auto;
    }
    .selector {
        width: 225px;
        height: 25px;
        font-size: 80%;
    }
    #tee-type-select {
        width: 75px;
    }
    .button {
        width: 50px;
        height: 50px;
    }
}
