body {
    margin: 0;
    padding: 0;
    overflow: hidden;
    background: url("../media/golf-course-bg-image.jpg") no-repeat center;
    background-size: cover;
    background-position: 0px -150px;
}

.main-container{
    display: flex;
    justify-content: center;
    align-items: center;
}

.course-selection-container {
    height: 500px;
    width: 50%;
    margin:85px auto;
    background-color: rgba(255, 255, 255, 0.90);
    border-radius: 2px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.course-selection-container span {
    padding: 5px;
}